<div ng-app='Dashboard'>
  <h1>Dashboard</h1>
  <div ng-controller='DashboardController'>
    <ul ng-repeat='t in trackers'>
      <li> {{ t.name }} </li>
    </ul>
  </div>
  <div id="cal-heatmap"></div>
</div>

