<div ng-app='Dashboard'>
  <h1>Dashboard</h1>
  <div ng-controller='DashboardController'>
    <ul ng-repeat='t in trackers'>
      <li> {{ t.name }} </li>
    </ul>
  </div>
  <heatmap graph='"http://localhost:3000/api/trackers/1/events.json"'>
  </heatmap>
</div>

